body {
    background-image: url("/image/1181492.jpg");
    padding-left: 20px;
    font-family: sans-serif;
}

.noms{
 color: yellowgreen;
 font-size: 25px;
 list-style: none;
}

li{
    list-style-type:disc;
}
.film{
    font-size:medium;
    list-style-type: upper-latin;
}

ol{
    color: white;

}

h1{
    color: white;
}

a{
    list-style-type: upper-alpha;
}